.card {
  background-color: $surfaceColorVariant;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #151515; 
  transition: all 0.3s ease-in-out;

  .card__title {
    @include u-text-scroll(4, 1.4em);
    max-height: 4*1.4em;
  }

  & .icon__active svg,
  & .icon__cancel svg {
    background-color: #353535;
  }

    // focus/active
    &:focus,
    &:active {
      transform: scale(1.02);
      outline: transparent;
    }
}

