@include breakpoint-from($bpCollumns-2) {

  .card--layout--compact {
    box-shadow: 2px 2px 4px #111;

    .icon__active svg,
    .icon__cancel svg {
      background-color: $overlay;
    }

    // hover
    @media (pointer: fine) {
      &:hover .image {
        filter: brightness(0.3);
      }
    }

    &:focus .image,
    &:active .image {
      filter: brightness(0.3);
    }

  }
}
