@mixin l-flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  flex-grow: 1;
}

@mixin l-flexbox-centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@mixin l-flexbox-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}

@mixin l-grid-inline {
  display: inline-grid;
  justify-items: center;
}

