$primaryColor: #E7E7E7;
$primaryVariant: #EEEEEE; 
$onPrimary: #212121;

$secondaryColor: #212121;
$onSecondary: #CCCCCC;
$onSecondaryHighlight: #EEEEEE;

// $surfaceColor: #EEEEEE;
$surfaceColor: #191919;
$surfaceColorVariant: #262626;
$messageColor: #29B6F6;
$warningColor: #B00020;

$overlay:  rgba(0, 0, 0, 0.6);
// $overlay:  rgba(200, 200, 200, 0.3);
